__pycache__/
*.py[cod]
*$py.class
*.o
*.elf
*.exe
.vscode/
.idea/
*.swp
*.img
*.bin

# Sovereign User Local Storage (Personal Notes, Drawings, and Code Drafts are kept local)
storage/notepad/*
!storage/notepad/.gitkeep
!storage/notepad/notes.txt
storage/code/*
!storage/code/.gitkeep
storage/paint/*
!storage/paint/.gitkeep
